/* applies if screen size greater than 400 and less than 759 */

.gallery-section{
    padding-left: 60px;
    padding-right: 60px;
}

#Soda-Springs-motto{
    font-size: 11px;
}

.towns p{
    font-size: 11px;
}