body {
    font-family: Ubuntu, sans-serif;
}

table {
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
}

th, #focCell {
    background-color: #628ca6;
    color: white;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}

tbody>tr:nth-child(odd) {
    background-color: #e7ffed;
}

tbody>tr:nth-child(even) {
    background-color: #e7f0ed;
}

thead>tr, tfoot>tr {
    background-color: #7fb9c2;
}

thead {
    font-size: 1.57em;
    font-weight: bold;
}

tfoot{
    font-size: .77em;
}

td {
    text-align: center;
}

/* Color scheme includes #e7f0ed, #e7ffed (data rows) and #628ca6, #7fb9c2 with white and black. */